@import '@styles/variables/index.scss';
@import '@styles/mixins.scss';

.container {
  @include flex($direction: column, $align-items: center, $justify-content: center);
  height: $c-size-medium-viewpoint-height;
}

.title {
  font-size: $c-font-size-2x-large;
  color: var(--label-text-color);
}

.message {
  font-size: $c-font-size-medium;
  color: var(--disabled-text-color);
}
