@import '@styles/variables/index.scss';

$line-weight: 2px;
$circle-size: 1.875rem;
$transition-duration-n-timing: 0.3s ease;

.themeSwitcher {
  width: $circle-size * 2;
  height: $circle-size;
  cursor: pointer;
  transition: background-color $transition-duration-n-timing;
}

.switch {
  width: 100%;
  height: 100%;
  border: $line-weight solid $primary-text-color;
  background: transparent;
  border-radius: 15px;
  position: relative;
  transition: background-color $transition-duration-n-timing;
}

.circle {
  width: $circle-size;
  height: $circle-size;
  border: $line-weight solid $primary-text-color;
  background: transparent;
  border-radius: $c-radius-circle;
  position: absolute;
  top: $c-radius-circle;
  transform: translateY(-$c-radius-circle);
  transition: left $transition-duration-n-timing;
}

.on .circle {
  left: $circle-size - 0.075;
}

.off .circle {
  left: -1px;
}
