@import '@styles/variables/index.scss';
@import '@styles/mixins.scss';

$bg-modal-background: rgba(83, 83, 87, 0.637);
$bg-modal-body: rgb(68 68 79);

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $bg-modal-background;
  @include flex($align-items: center, $justify-content: center);
}

.modalContent {
  width: 50%;
}

.modalBody {
  height: max-content;
  background: $bg-modal-body;
  border-radius: $c-radius-medium;
  padding: $c-spacing-large $c-spacing-3x-medium;
  position: relative;
  color: $primary-text-color;
}

.button {
  position: absolute;
  right: $c-spacing-4x-medium;
  top: $c-spacing-x-medium;
  border: 0;
  background: $primary-button-color;
  @include flex($align-items: center, $gap: $c-spacing-x-small);
  padding: $c-spacing-3x-small $c-spacing-small;
  border-radius: $c-radius-small;
  color: $secondary-text-color-active;
  font-weight: $c-font-weight-medium;

  &:hover {
    box-shadow: 5px 5px 5px -5px $border-accent-color-light;
  }
}
