@import '@constants/scss/index.scss';
@import '@styles/mixins.scss';

$bg-modal-background: rgba(83, 83, 87, 0.637);
$bg-modal-body: rgb(250, 250, 250);

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $bg-modal-background;
  @include flex($align-items: center, $justify-content: center);
}

.modalBody {
  width: 50%;
  height: 70%;
  background: $bg-modal-body;
  border-radius: $c-radius-medium;
  padding: $c-spacing-x-medium;
  position: relative;
}

.button {
  position: absolute;
  right: $c-spacing-small;
  bottom: $c-spacing-small;
  border: 0;
  background: $primary-button-color;
  @include flex($align-items: center, $gap: $c-spacing-x-small);
  padding: $c-spacing-x-small $c-spacing-small;
  border-radius: $c-radius-small;

  &:hover {
    box-shadow: 5px 5px 5px -5px $border-color;
  }
}
