@import '@constants/scss/index.scss';
@import '@styles/mixins.scss';

.nav {
  width: 100%;
  height: $c-size-small;
  background: $bg-primary-color;
  @include flex($justify-content: space-around, $align-items: center);

  .navItems {
    list-style-type: none;
    @include flex($gap: $c-spacing-5x-large);

    & a {
      @include link-hover;
    }
  }
}
