@import '@styles/variables/index.scss';
@import '@styles/mixins.scss';

.listWrapper {
  @include flex($justify-content: center);
}

.list {
  display: grid;
  gap: $c-spacing-large $c-spacing-6x-large;
  grid-template-columns: repeat(auto-fit, minmax($c-size-3x-large, 1fr));
}

.heading {
  grid-column: span 2;
  font-size: $c-font-size-large;
  font-weight: $c-font-weight-thin;
  line-height: $c-line-height-x-medium;
  width: $c-size-3x-large;
  color: $primary-text-color;
  padding-bottom: $c-spacing-2x-medium;
  margin: $c-spacing-large 43% 0 0;
  border-bottom: 2px solid $border-color;
}

@media (max-width: 920px) {
  .list {
    grid-template-columns: 1fr;
  }

  .heading {
    grid-column: 1;
  }
}
