@import '@styles/variables/index.scss';
@import '@styles/mixins.scss';

.header {
  background: linear-gradient(
    225deg,
    var(--header-primary-gradient-start-rgb) 0%,
    var(--header-primary-gradient-middle-rgb) 50%,
    var(--header-primary-gradient-end-rgb) 100%
  );
  padding: $c-spacing-4x-medium 0 $c-spacing-large 0;
  min-height: $c-size-large;
  @include flex($align-items: center);

  svg {
    min-width: 19rem;
    min-height: 19rem;
  }

  @include breakpoint($point: 1024) {
    .heading {
      padding-right: $c-spacing-large;
      gap: $c-spacing-small;
    }

    .heading,
    .headingHighlight {
      font-size: $c-font-size-3x-large;
      line-height: $c-line-height-2x-large;
      @include flex($direction: column, $justify-content: center);
    }

    .infoContainer,
    .infoParagraph {
      width: 60%;
    }
  }

  @include breakpoint($point: 768) {
    svg {
      display: none;
    }

    .infoContainer {
      @include flex($direction: column, $justify-content: center, $align-items: center);
      width: 100%;
      float: none;

      .heading {
        text-align: center;
        margin-bottom: $c-spacing-x-medium;
        padding: 0;
      }

      .infoParagraph {
        font-size: $c-font-size-3x-small;
        line-height: $c-line-height-3x-small;
        width: 50%;
        float: none;
      }
    }
  }

  @include breakpoint($point: 425) {
    .heading,
    .headingHighlight {
      font-size: $c-font-size-2x-large;
      line-height: $c-line-height-x-large;
    }
  }
}

.infoContainer {
  width: 55%;
  text-align: end;

  .infoParagraph {
    width: 50%;
    float: right;
    text-align: center;
  }
}

.heading,
.headingHighlight {
  @include signature-linear-colors-text;
  font-weight: $c-font-weight-semi-bold;
  line-height: $c-line-height-3x-large;
  letter-spacing: 1px;
}

.heading {
  font-size: $c-font-size-4x-large;
  padding-right: $c-spacing-2x-large;
}

.headingHighlight {
  font-size: $c-font-size-3x-large;
  padding: $c-spacing-2x-small $c-spacing-medium;
}

.infoParagraph {
  font-weight: $c-font-weight-thin;
  font-size: $c-font-size-medium;
  line-height: $c-line-height-large;
  color: var(--secondary-text-color);
  letter-spacing: 1px;
}
