$bg-primary-color: rgba(3, 3, 4, 1);
$bg-card-color: rgba(32, 32, 37, 1);
$bg-accent-color-highlight: rgba(255, 151, 29, 1);
$bg-accent-color-success: rgba(22, 199, 130, 1);
$bg-accent-color-error: rgba(234, 57, 67, 1);

$primary-text-color: rgba(255, 255, 255, 1);
$secondary-text-color: rgba(217, 217, 217, 1);
$secondary-text-color-active: rgba(0, 0, 0, 1);
$label-text-color: rgba(167, 178, 195, 1);
$link-text-color: rgba(137, 137, 137, 1);
$disabled-text-color: rgba(158, 158, 158, 1);

$border-color: rgba(71, 71, 71, 1);
$border-accent-color: rgba(96, 125, 148, 1);
$border-accent-color-light: rgb(209, 220, 231);
$border-accent-color-hover: rgb(85, 161, 228);

$primary-button-color: rgb(113 113 113);

$logo-gradient-start-rgb: rgba(0, 206, 44, 1);
$logo-gradient-middle-rgb: rgba(174, 223, 35, 1);
$logo-gradient-end-rgb: rgba(163, 220, 0, 1);

$header-primary-gradient-start-rgb: rgb(18, 18, 18);
$header-primary-gradient-middle-rgb: rgba(36, 121, 64, 0.349);
$header-primary-gradient-end-rgb: transparent;
