$c-spacing-4x-small: 0.125rem;
$c-spacing-3x-small: 0.336rem;
$c-spacing-2x-small: 0.406rem;
$c-spacing-x-small: 0.523rem;
$c-spacing-small: 0.7rem;
$c-spacing-none: 0;
$c-spacing-medium: 1rem;
$c-spacing-x-medium: 1.25rem;
$c-spacing-2x-medium: 1.5rem;
$c-spacing-3x-medium: 1.625rem;
$c-spacing-4x-medium: 2rem;
$c-spacing-5x-medium: 2.5rem;
$c-spacing-6x-medium: 3rem;
$c-spacing-large: 3.5rem;
$c-spacing-x-large: 4rem;
$c-spacing-2x-large: 5rem;
$c-spacing-3x-large: 5.4rem;
$c-spacing-4x-large: 6.5rem;
$c-spacing-5x-large: 7rem;
$c-spacing-6x-large: 11.5rem;

$c-size-2x-small: 4rem;
$c-size-x-small: 5.184rem;
$c-size-small: 6.4rem;
$c-size-medium: 9.5rem;
$c-size-x-medium: 9.625rem;
$c-size-large: 26rem;
$c-size-x-large: 28.125rem;
$c-size-2x-large: 30.125rem;
$c-size-3x-large: 32.5rem;
$c-size-full: 100%;

$c-size-medium-viewpoint-height: 70vh;

$c-radius-small: 3px;
$c-radius-medium: 8px;
$c-radius-circle: 50%;
