@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$c-font-weight-thin: 300;
$c-font-weight-regular: 400;
$c-font-weight-medium: 500;
$c-font-weight-semi-bold: 600;
$c-font-weight-bold: 700;

$c-font-family-primary: 'Poppins';
$c-font-family-secondary: 'Inter';

$c-font-size-3x-small: 0.75rem;
$c-font-size-2x-small: 1rem;
$c-font-size-x-small: 1.125rem;
$c-font-size-small: 1.25rem;
$c-font-size-medium: 1.5rem;
$c-font-size-x-medium: 1.625rem;
$c-font-size-2x-medium: 1.75rem;
$c-font-size-3x-medium: 1.875rem;
$c-font-size-large: 2rem;
$c-font-size-x-large: 2.188rem;
$c-font-size-2x-large: 2.375rem;
$c-font-size-3x-large: 4.75rem;
$c-font-size-4x-large: 5.6rem;

$c-line-height-reset: 1;
$c-line-height-3x-small: 1.125rem;
$c-line-height-2x-small: 1.5rem;
$c-line-height-x-small: 1.6rem;
$c-line-height-small: 2.2rem;
$c-line-height-medium: 2.4rem;
$c-line-height-x-medium: 2.5rem;
$c-line-height-2x-medium: 2.6rem;
$c-line-height-3x-medium: 2.8rem;
$c-line-height-large: 2.9rem;
$c-line-height-x-large: 3rem;
$c-line-height-2x-large: 3.5rem;
$c-line-height-3x-large: 7.125rem;
