@import '@styles/variables/index.scss';
@import '@styles/mixins.scss';

html[data-theme='dark'] {
  --bg-elastic-color: rgba(32, 32, 37, 1);
  --bg-dropdown-container: rgb(63, 63, 70);
}

html[data-theme='light'] {
  --bg-elastic-color: rgb(211, 211, 212);
  --bg-dropdown-container: rgb(223, 223, 226);
}

$elastic-search-width: 30%;

.elasticSearchContainer {
  width: $elastic-search-width;
  margin: 0 auto $c-spacing-2x-large auto;

  div {
    margin: 0;
    height: auto;
    max-height: $c-size-large;

    input {
      font-size: $c-font-size-x-small;
      line-height: $c-line-height-x-small;
      padding: $c-spacing-x-medium;
      background: var(--bg-elastic-color);
      border-radius: $c-radius-medium;

      &::placeholder {
        color: var(--disabled-text-color);
      }
    }
  }
}

.dropdownContainer {
  margin: 0 auto;
  display: none;
  background-color: var(--bg-dropdown-container);
  border-radius: $c-radius-medium;
  width: $elastic-search-width;
  z-index: 99;
  position: absolute;
  height: 50vh;
  overflow-y: scroll;
}

.dropdownContainer.show {
  display: block;
}
